#room header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#room header .button{
    display: flex;
}

#room header .button .button:nth-child(1){
    
}